# Node environment setting (dev, production, etc.)
NODE_ENV="local"

# Log level
LOG_LEVEL="debug"

# API Ports
API_PORT=61236

# Session duration, in minutes
TOKEN_DURATION=1440

# Postgres
POSTGRES_URI="postgres://localhost:5432/lg-overdrive"