certs
keys
#node_modules
data
public
backups
dist
*.log
.env
.env.dev
.env.production
.env.staging
node_modules
bower_components
data
report.*

.DS_Store

*.csv

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
